.project_card{
    position:relative;
    top:0;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 1%;
    padding:1em;
    transition: all .3s ease-in-out;
}

.project_card:hover{
    box-shadow: 4px 4px 3px #999;
    top:-4px;
}   

.project_card h4{
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.project_card p {
    color: #7a7a7a;
    margin-bottom: 1em;
}

.project_card p span{
    font-weight: bold;
}

.category_text{
    display: flex;
    align-items: center;
}

.category_text span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.category_text .Infraestrutura{
    background-color: #49f333;
}

.category_text .Desenvolvimento{
    background-color: #f333e9;
}

.category_text .Design{
    background-color: #33cdf3;
}

.category_text .Planejamento{
    background-color: #706ee9;
}

.category_text .Outros{
    background-color: #f3e033;
}

.project_card_actions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.project_card_actions a,
.project_card_actions button{
    text-decoration: none;
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.project_card_actions a:hover,
.project_card_actions button:hover{
    transform: scale(1.1);
    background-color: #222;
    color: #ffbb33;
}

.project_card_actions svg{
    margin-right: .5em;
}
